:root {
  --bgc: #151826;
}


.content-wrap {
  background-color: var(--bgc);
  padding: 10px
}
.column {
  flex: 50%;
}
.button {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 68%;
  border-radius: 6px;
  background-color: #06c643;
  color: #f3f2f9df;
  padding: 10px;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: #06d653ca;
}
.content {
  padding: 20px;
  width: 95%;
  margin: 10px;
  color: #eb880f;
	}
.content-box {
  border: 2px solid #7171b4;
  background-color: #110544;
  margin-left: 16%;
  margin-right: 16%;
  border-radius: 4px;
}
.announcement {
  display: flex;
  font-size: 30px;
  padding: 20px;
  padding-left: 50px;
  text-align: left;
}
