
body {
  color: white;
  font-family: 'Karla', sans-serif;
  margin: 0px;
}
header {
  align-items: center;
  text-align: left;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  background-image: url("https://wallpaperset.com/w/full/9/6/a/517453.jpg");
  box-shadow: inset 0 0 5em #00000080;
  background-size: 100%;
  background-position: top right;
}
.header-wrap {
    flex-grow: 1;
    background-image: linear-gradient(to bottom, #ffffff00 50%, #ffffff00, var(--bgc));
    background-size: 100%;
    height: 100%;
    margin: 0px;
    padding-bottom: 20%;
}
.nav-bar {
  position: sticky;
  flex-grow: 1;
  background-color: #1a1e4299;
  border-bottom: 5px solid #151830;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
}
.navigation {
  padding-inline-start: 0px !important;
}
.navigation li {
  display: inline;
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 28px;
  font-weight: bold;
  color: #f3f2f9df;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  flex-grow: 1;
}
.navigation li:hover {
  color: #fafaff;
  background-color: #3a3e6290;
  font-size: 22px;
}
#login li {
  position: absolute;
  right: 10px;
  top: -5px;
  display: inline;
  text-align: right;
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 28px;
  font-weight: bold;
  color: #f3f2f9df;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  flex-grow: 1;
}
#login li:hover {
  color: #fafaff;
}
.header-image {
  position: relative;
  bottom: -400px;
  margin-left: auto;
  margin-right: auto;
  height: 295px;
  width: 306px;
  transition: all 0.2s ease;
}
.header-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.header-message {
  background-color: #ddddff33;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--textc);
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}
.header-message cc1 {
  color: var(--textc2);
  font-weight: normal;
  font-size: 18px;
}
.left {
  position: absolute;
  top: 160px;
  left: 40px;
  transition: all 0.2s ease;
}
.left:hover {
  transform: scaleX(1.05) skew(-4deg);
}
.right {
  position: absolute;
  top: 160px;
  right: 40px;
  transition: all 0.2s ease;
}
.right:hover {
  transform: scaleX(1.05) skew(-4deg);
}
